@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-exam-sheet, #printable-exam-sheet * {
    visibility: visible;
  }
  #printable-exam-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: white !important;
    color: black !important;
  }
}

